html {
  background-color: #212020;
}

body {
  background-color: #fff;
}

#jumbotron,
#page-header {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  background-image: url("../img/resized/thomas-kvistholt-191153-unsplash_1024.jpg");
  background-image: -webkit-image-set(
    url("../img/resized/thomas-kvistholt-191153-unsplash_2x.jpg") 1x,
    url("../img/resized/thomas-kvistholt-191153-unsplash_1x.jpg") 2x
  );
  background-image: image-set(
    url("../img/resized/thomas-kvistholt-191153-unsplash_2x.jpg") 1x,
    url("../img/resized/thomas-kvistholt-191153-unsplash_1x.jpg") 2x
  );
}

@media screen and (max-width: 1399px) {
  #jumbotron,
  #page-header {
    background-image: url("../img/resized/thomas-kvistholt-191153-unsplash_1024.jpg");
  }
}
@media screen and (max-width: 1023px) {
  #jumbotron,
  #page-header {
    background-image: url("../img/resized/thomas-kvistholt-191153-unsplash_667.jpg");
  }
}

#main-footer {
  background-color: #000;
}

.about-img {
  margin-top: -50px;
}

#not-found {
  background-color: #000;
  border: 2px solid red;
  color: rgb(58, 243, 12);
  font-family: monospace;
}
